%article#blog
  %section
    %time{ :datetime => "28-06-2010" }
      %span.date 28
      %span.month Jun
    %h1
      %a{ :href => "/2010/06/28/fakeweb-for-the-browser.html" }
        FakeWeb for the Browser
    %p
      Akephalos now includes the ability to fake web responses within the browser, and this is how you do it!
    %p <a href="/2010/06/28/fakeweb-for-the-browser.html">Read More...</a>
