%article#blog
  %section
    %time{ :datetime => "01-07-2010" }
      %span.date 01
      %span.month Jul
    %h1
      %a{ :href => "/2010/07/01/introducing-safarium.html" }
        Introducing Safarium
    %p I recently switched to Chrome after using Safari for almost 3 years, and have been quite happy so far with the results: the memory footprint seems to be much better than Safari, everything feels incredibly snappy, and I'm now completely addicted to the unified location bar. But there were a few things that drove me absolutely crazy, and apparently I was <a href="http://www.google.com/search?q=chrome+tab+form+elements" target="_blank">not</a> <a href="http://www.google.com/search?q=chrome+command+enter" target="_blank">alone</a>.
    %p <a href="/2010/07/01/introducing-safarium.html#read-more">Read More...</a>

    %time{ :datetime => "28-06-2010" }
      %span.date 28
      %span.month Jun
    %h1
      %a{ :href => "/2010/06/28/fakeweb-for-the-browser.html" }
        FakeWeb for the Browser
    %p
      Akephalos now includes the ability to fake web responses within the browser, and this is how you do it!
    %p <a href="/2010/06/28/fakeweb-for-the-browser.html">Read More...</a>
