!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      oinopa ponton
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
  %body
    %header
      %h1
        %a{ :href => "/" }
          oinopa ponton
      %p
        I'm Bernerd Schaefer and this is my blog. I work for <a href="http://hashrocket.com">Hashrocket</a>.
        You can follow me on <a href="http://twitter.com/bjschaefer">twitter</a> and
        <a href="http://github.com/bernerdschaefer">github</a>.
    = content

    %footer
      %p
        &copy; 2010 &middot; Bernerd Schaefer
