!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      oinopa ponton
      = ":: #{@title}" if @title
    %meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")/
    %link(href="/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8")/
    %link(rel="stylesheet" type="text/css" href="/stylesheets/iphone.css" media="only screen and (max-width: 480px)")/
  %body
    %header
      %h1
        %a{ :href => "/" }
          oinopa ponton
      %p
        I'm Bernerd Schaefer and this is my blog. I work for <a href="http://hashrocket.com">Hashrocket</a>.
        You can follow me on <a href="http://twitter.com/bjschaefer">twitter</a> and
        <a href="http://github.com/bernerdschaefer">github</a>.
    = content

    %footer
      %p
        &copy; 2010 &middot; Bernerd Schaefer
